body{
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    min-height: 550px;
    color: antiquewhite;
}

.j1{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #4e4e50;
    border-radius: 90px;
    left: 10%;
    top: 30%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j1:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j1img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

.j2{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #950740;
    border-radius: 90px;
    left: 10%;
    top: 75%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j2:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j2img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

.j3{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #950740;
    border-radius: 90px;
    left: 40%;
    top: 30%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j3:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j3img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

.j4{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #4e4e50;
    border-radius: 90px;
    left: 40%;
    top: 75%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j4:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j4img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

.j5{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #4e4e50;
    border-radius: 90px;
    left: 70%;
    top: 30%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j5:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j5img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

.j6{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #950740;
    border-radius: 90px;
    left: 70%;
    top: 75%;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.j6:hover {
    transform: translateY(-10px); /* Lifted up */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
    border-color: rgb(170, 168, 168);
}

.j6img{
    height: 70px;
    position: absolute;
    left: 29%;
    top: 12%;
}

/*let the texts begin*/

.j1txt{
    position: absolute;
    bottom: 8%;
    left: 26%;
    font-weight: 450;
}

.j2txt{
    position: absolute;
    bottom: 8%;
    left: 26%;
    font-weight: 450;
}

.j3txt{
    position: absolute;
    bottom: 8%;
    left: 37%;
    font-weight: 450;
}

.j4txt{
    position: absolute;
    bottom: 8%;
    left: 22%;
    font-weight: 450;
}

.j5txt{
    position: absolute;
    bottom: 8%;
    left: 27%;
    font-weight: 450;
}

.j6txt{
    position: absolute;
    bottom: 8%;
    left: 36%;
    font-weight: 450;
}

.TIMELESS{
    font-size: 1.7em;
    top: 1%;
    text-align: center;
}